{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container big-light shadow-md p-5 form-layout">

            <h3> Create record </h3>

            <h6> Start adding in the required details for your record. </h6>

            <hr class="w-90 mx-auto my-3" style="border-top: 1px solid #000;">
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form|crispy}}

                <br>

                <button type="submit" class="btn btn-primary"> 
                    
                    Create record &nbsp; <i class="fa fa-check" aria-hidden="true"></i> 
                
                </button>

                &nbsp;

                <a href="{% url 'dashboard' %}" class="btn btn-secondry">

                     return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>

                </a>
                

            </form>
        
        </div>

        <br>

    </body>

{% endblock %}